---

import FadeInGsap from "./animations/FadeInGsap";

 // asegúrate de tener este ícono

import ProjectCard from "./ProjectCard.astro";

import { getCollection } from "astro:content";
import { icons } from "./icons";

const projects = await getCollection('projects');
---

<FadeInGsap client:only>
 
  <section id="projects" class="proyectos   w-160 max-h-fit  mx-auto pt-20 mb-40" >
    <h2 class="text-4xl max-h-fit w-fit font-thin m-2 -ml-15 rounded-md bg-slate-800 text-amber-50 p-1 text-right">
      ¿QUÉ HE HECHO?
    </h2>
    <div class="border-l-4 w-135 rounded-md text-lg p-4 ml-10 gap-10 flex flex-col">
      {await Promise.all(
    projects.slice().reverse().map(async (project) =>{
        const { title, subtitle, image, link, repoLink, techIcons = [] } = project.data;
       const { Content } = await project.render();
       const techIconsComponents = techIcons.map(name => icons[name]).filter(Boolean);
        return (
        
        <ProjectCard
          title={project.data.title}
          subtitle={project.data.subtitle}
          image={project.data.image}
          link={project.data.link}
          repoLink={project.data.repoLink}
          techIcons={techIconsComponents}
        >
          <Content />
        </ProjectCard>
      )}))}
    </div>
  </section>
</FadeInGsap>
